<form>
  <div class="form-group search-container">
    <input
      class="form-control"
      type="text"
      name="searchTerm"
      id="searchRestaurant"
      [(ngModel)]="restaurantsService.searchTerm"
      placeholder="Search for a Restaurant!"
    />
  </div>

  <p>
    You can search by restaurant name and sorting by rating and name clicking at
    header.
  </p>
  <p>Details of restaurant available when click on the name.</p>

  <table class="table">
    <thead>
      <tr>
        <th scope="col" sortable="rating" (sort)="onSort($event)">Rating</th>
        <th scope="col" sortable="name" (sort)="onSort($event)">
          Restaurant Name
        </th>
        <th scope="col">Website</th>
        <th scope="col">Phone Number</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let restaurant of restaurantsData | async">
        <td>
          <ngb-rating
            [(rate)]="restaurant.rating"
            [max]="5"
            [readonly]="true"
          ></ngb-rating>
        </td>
        <td class="restaurant-name">
          <ngb-highlight
            [result]="restaurant.name"
            [term]="restaurantsService.searchTerm"
            (click)="openModal(restaurant)"
          ></ngb-highlight>
        </td>
        <td>
          <a [href]="restaurant.contact.site" target="_blank">{{
            restaurant.contact.site
          }}</a>
        </td>
        <td>
          {{ restaurant.contact.phone }}
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="(total | async)!"
      [(page)]="restaurantsService.page"
      [pageSize]="restaurantsService.pageSize"
    >
    </ngb-pagination>
  </div>
</form>
